
    <h2>Rule: {{rule.rule_name}}</h2>
    <div class="form-group">
        Rule name:{{input value=rule.rule_name key-press=refresh focus-out=refresh}}
    </div>
    <div class="form-group">
        Rule description: {{input value=rule.rule_description key-press=refresh focus-out=refresh}}
    </div>

    <h4>Conditions</h4>
    <button class="btn btn-primary" {{action 'addCondition'}}>Add Condition</button>
    {{#each conditions as |condition|}}
        <div class="rules-condition-container" style="margin: 1em; padding: 1em; border: 1px solid rgb(18, 70, 70); border-radius: 3px;">
            {{rule-condition dataFields=dataFields condition=condition refresh=refresh}}
            <button class="btn btn-danger" {{action 'removeCondition' condition}}>Remove Condition</button>
        </div>
    {{/each}}

    <h4>Actions</h4>
    <button class="btn btn-primary" {{action 'addAction'}}>Add Action</button>
    {{#each ruleActions as |ruleAction|}}
        <div class="rules-condition-container" style="margin: 1em; padding: 1em; border: 1px solid rgb(18, 70, 70); border-radius: 3px;">
            {{rule-action ruleAction=ruleAction refresh=refresh}}
            <button class="btn btn-danger" {{action 'removeAction' ruleAction}}>Remove Action</button>
        </div>
    {{/each}}