<div class="form-group">
    <label>Action name</label>
    {{input value=ruleAction.action_name key-press=(action 'changeValue') focus-out=(action 'changeValue')}}
</div>

<div class="form-group">
    <label>Action type</label>
    {{input value=ruleAction.action_type key-press=(action 'changeValue') focus-out=(action 'changeValue')}}
</div>

<div class="form-group">
    <label>Action sequence number</label>
    {{input value=ruleAction.action_sequence_number key-press=(action 'changeValue') focus-out=(action 'changeValue')}}
</div>

<div class="form-group">
    <label>Multipler Formula</label>
    {{input value=ruleAction.multiplier_formula key-press=(action 'changeValue') focus-out=(action 'changeValue')}}
</div>

<div class="form-group">
    <label>Multiplier Value</label>
    {{input value=ruleAction.multiplier_value key-press=(action 'changeValue') focus-out=(action 'changeValue')}}
</div>